body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1f24;
    color: #fff;
    height: 100vh;
}

.calender {
    width: 100%;
    max-width: 400px;
    min-width: 26rem;
    height: auto;
    background-color: #111214;
    border-radius: 1rem;
    padding: 1.5rem;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.navigate-date {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.navigate-date h2 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #bbb;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons i {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3542;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #b88efc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons i:hover {
    background-color: #d4418e;
    background-image :linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
}


.weekdays {
    width: 100%;
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}

.weekdays span {
    width: calc(100% / 7);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #78879e;
    letter-spacing: 0.1rem;
    text-align: center;
}


.days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.days span {
    width: calc(100% / 7);
    aspect-ratio: 1 / 1;
    font-size: 1rem;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.days span:hover {
    background-color: #d4418e;
    background-image :linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    border-radius: 50%;
    color: #fff;

}

.days span.selected {
    background-color: #b88efc;
    color: #111214;
    font-weight: bold;
}
