@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
}

html {
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%; 
  }
}

.container {
  width: 100%;
  height: 100vh;
  background: rgb(213,51,51);
  background: radial-gradient(circle, rgba(213,51,51,1) 0%, rgba(38,29,29,1) 100%);
  display: grid;
  place-items: center;
}

.did-app {
  width: 95vw;
  height: 95vmin;
  background-color: #c1c6cf;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}