

.modal-image{
    width: 100%;
    height: auto;
    max-height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 0.5;
}

.modal-title{
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    color: white;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.modal-source, 
.modal-date{
    font-family: "Comfortaa", sans-serif;
    font-size: 1.4rem;
    color: #bbb;
    margin-top: 1rem;
}

.modal-content-text{
    font-size: 1.6rem;
    margin-top: 2rem;
    line-height: 2.7rem;
    color: #ddd;

}

.read-more-link{
    width: 15rem;
    display: inline-block;
    background-color: #d4418e;
background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    margin-top: 2rem;
    padding: 1rem 2rem;
    color: white;
    border-radius: 5rem;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}

.read-more-link:active{
    transform: translateY(0.1rem);
}