.modal-image {
    width: 100%;
    height: auto;
    max-height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 0.8; /* Adjusted for better visibility in light mode */
}

.modal-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    color: #333; /* Dark color for light mode */
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.modal-source,
.modal-date {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.4rem;
    color: #666; /* Subtle gray for light mode */
    margin-top: 1rem;
}

.modal-content-text {
    font-size: 1.6rem;
    margin-top: 2rem;
    line-height: 2.7rem;
    color: #444; /* Darker gray for readability */
}

.read-more-link {
    width: 15rem;
    display: inline-block;
    background: rgb(213,51,51);
    background: radial-gradient(circle, rgba(213,51,51,1) 0%, rgba(38,29,29,1) 100%);
    margin-top: 2rem;
    padding: 1rem 2rem;
    color: white;
    border-radius: 5rem;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}

.read-more-link:active {
    transform: translateY(0.1rem);
}
